body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    background: linear-gradient(to right, #02aab0, #00cdac);

    font-family: 'Mooli', sans-serif;
}
.card{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 35px;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    padding: 10px 15px;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    flex: 1;
    font-family: 'Mooli', sans-serif;
}
.search button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 5px;
}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 160px;
    margin-top: 50px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: 25px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -50px;      
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
p{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
}
.humidity,.wind{
    font-size: 30px;
}
.weather{
    display: none;
}